.topnavbar{
    background-color: lavenderblush;
    font-weight: 600;

}
ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a{
    color: black !important;
}

a{
    color: black !important;
}